<h1>餐廳後台</h1>

<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
<div class="switch d-flex">
  <a href="/admin/restaurants">Restaurants | </a>
  <a href="/admin/users">| Users</a>
</div>
<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">#</th>
      <th scope='col'>status</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      <td class="text-danger">admin</td>
      {{else}}
      <td>user</td>
      {{/if}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          {{!-- 若使用者為管理者權限 則顯示"設為一般使用者" 反之則設為管理者 --}}
          <button type="submit" class="btn btn-link">
            Set as {{#if this.isAdmin}} user {{else}} admin {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>