<div class="container text-center">
  <div class="row my-xl-5 py-xl-4">
    <div class="col-md-5 col-sm-12">
      <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
    </div>
    <div class="col-md-5 col-sm-12">
      <h1>{{user.name}}</h1>
      <div class="options d-flex justify-content-center">
        {{#ifConld user.id user_Id}}<a href="{{user.id}}/edit" class="btn btn-primary">Edit</a> {{else}}{{/ifConld}}
        <a href="javascript:history.back()" class="btn btn-secondary">回上一頁</a>
      </div>
    </div>
  </div>
  <div class="row m-2 p-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-title bg-secondary">
          <h2>追蹤{{followingsCount}}位使用者</h2>
        </div>
        <div class="card-body">
          <div class="d-flex">
            {{#each user.Followings}}
            <a href="/Users/{{this.id}}">
              <img class="card-img-top" src="{{this.image}}" alt="Card image cap" style="height: 80px;width:80px">
            </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-title bg-secondary">
          <h2>已評論{{restaurantCounts}}餐廳</h2>
        </div>
        <div class="card-body">
          <div class="d-flex">
            {{#each reviewedRestaurant}}
            <a href="/restaurants/{{this.id}}" class="mr-2">
              <img class="card-img-top" src="{{this.image}}" alt="Card image cap" style="height: 80px;width:80px">
            </a>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2 p-3">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-title bg-secondary">
          <h2>有{{followersCount}}位追隨者</h2>
        </div>
        <div class="card-body justify-content-center">
          {{#each user.Followers}}
          <a href="/Users/{{this.id}}" class="mr-2">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap" style="height: 80px;width:80px">
          </a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card h-100">
        <div class="card-title bg-secondary">
          <h2>已收藏{{favoriteRestaurantCount}}家餐廳</h2>
        </div>
        <div class="card-body">
          <div class="card-body">
            {{#each user.FavoritedRestaurants}}
            <a href="/restaurants/{{this.id}}" class="mr-2 mt-3">
              <img class="card-img-top mr-2 mt-3" src="{{this.image}}" alt="Card image cap"
                style="height: 80px;width:80px">
            </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>